[Desktop Entry]
Name=tightvnc
Comment=Remote access software
Comment[pl]=Program do zdalnego dostępu
Exec=vncviewer
Terminal=false
Type=Application
Categories=Network;
Encoding=UTF-8
# vi: encoding=utf-8
